/* // styles here */

body{
    margin: auto 0;
    
    
}

.container{
    border: solid 2px black;
    border-radius: 10px;
    background-color: steelblue;
    width: 25%;
    margin: auto 0;
    
}

h3{
    text-align: left;
    margin: 10px;
}

.displayContainer{
    margin: 10px;
}

.display{
    padding: 10px;
    text-align: right;
    margin: 10px;
    width: auto;
}

.numContainer{
padding: 10px;
display: grid;
grid-gap: 2px 2px;
margin: auto 0;
height: auto;
width: auto;
grid-template-areas: 

"clear divide multi subt"
"one two three addition"
"four five six equals"
"seven eight nine equals"
"naught naught decimal equals"
;

}

.grid-item{
    background-color: silver;
    border: solid 1px whitesmoke;
    text-align: center;
    padding: 10px 20px;
}
.btnClear{
    grid-area: clear;
    background-color: orangered;
    border: solid 1px rgb(100, 32, 7);
}

.btnDivide{
    grid-area: divide;
    background-color: cadetblue;
    border: solid 1px rgb(34, 72, 73);
}
.btnMultiply{
    grid-area: multi;
    background-color: cadetblue;
    border: solid 1px rgb(34, 72, 73);
}

.btnSubtract{
    grid-area: subt;
    background-color: cadetblue;
    border: solid 1px rgb(34, 72, 73);
}

.btn1{
    grid-area: one;
}

.btn2{
    grid-area: two;
}

.btn3{
    grid-area: three;
}

.btnAdd{
    grid-area: addition;
    background-color: cadetblue;
    border: solid 1px rgb(34, 72, 73)
}
.btn4{
    grid-area: four;
}

.btn5{
    grid-area: five;
}

.btn6{
    grid-area: six;
}

.btn7{
    grid-area: seven;
}

.btn8{
    grid-area: eight;
}

.btn9{
    grid-area: nine;
}

.btnEquals{
    grid-area: equals;
    background-color: orange;
    border: solid 1px rgb(73, 54, 18);
}

.btn0{
    grid-area: naught;
}

.btnDecimal{
    grid-area: decimal;
    background-color: cadetblue;
    border: solid 1px rgb(34, 72, 73);
}